.tag {
  background: rgba(125, 42, 233, 0.1);
  color: #7d2ae9;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  font-size: .75rem;
  padding: 0 1rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.tag:hover {
  background: rgba(125, 42, 233, 0.3);
}